html, body {
    height: 100%;
    /* background-color: #efefef; default grey background color*/
    background-color: white;
}

body {
    display: flex;
    flex-direction: column;
}

/* INDEX.HTML */
.home-pg-nav, nav {
    background: #244691;
    box-shadow: inset 0px 3px 20px 0px rgba(53, 53, 53, 0.36);
}

.take-quizBTN:active {
    transform: translateY(3px);
}

.signin-btn:active {
    transform: translateY(3px);
}

.signup-btn:active {
    transform: translateY(3px);
}

.container {
    flex: 1 0 auto;
}

.carousel {
    box-shadow: 2px 6px 20px 0px rgba(53, 53, 53, 0.31);
}

h3, h4, h5 {
    color: #d0222f;
}

.fa {
    color: #2d3d9e;
}

/* NAV-LINKS -- indComparison.html | indCandidate.html | allCandidates.html */

.nav-link:link {
    color: #efefef;
}

.nav-link:visited {
    color: #efefef;
    text-decoration: none;
}

.nav-link:hover {
    color: #9a9b9e;
    text-decoration: none;
}

/* PROFILE.HTML */

.card {
    box-shadow: 2px 6px 20px 0px rgba(53, 53, 53, 0.31);
}

.user-photo {
    box-shadow: 0px 6px 14px 0px #0000002e;
}

.match-photo {
    height: 90px;
    width: 90px;
    box-shadow: 0px 6px 14px 0px #0000002e;
}

.candidate-card:link {
    color: #424242;
}

.candidate-card:visited {
    color: #424242;
}

.candidate-card:hover {
    background-color: rgba(183, 62, 62, 0.35);
    text-decoration: none;
}

.candidate-card:active {
    background-color: rgba(208, 63, 63, 0.6);;
    transform: translateY(1px);
    text-decoration: none;
}

.match-links a:link {
    color: #424242;
}

.match-links a:visited {
    color: #424242;
    text-decoration: none;
}

.match-links a:hover {
    color: rgba(183, 62, 62, 0.973);
    text-decoration: none;
}

.match-links a:active {
    color: rgb(126, 42, 42);
    text-decoration: none;
}

/* QUIZ.HTML */

.submit-quiz-btn {
    background-color: rgba(183, 62, 62, 1);
    border-color: rgba(0, 0, 0, 0.72);
}

.submit-quiz-btn:hover {
    background-color: rgb(130, 48, 48);
    border-color: rgba(0, 0, 0, 0.72);
    transform: translateY(1px);
}

.submit-quiz-btn:active {
    background-color: rgba(183, 62, 62, 1);
    border-color: rgba(0, 0, 0, 0.72);
    transform: translateY(2px);
}

.thumbs-btn:hover {
    transform: translateY(1px);
    background: rgba(220, 220, 220, 0.55);
}

.thumbs-btn:active {
    transform: translateY(4px);
}

.fa-thumbs-up {
    color: #78a749;
}

.fa-thumbs-down {
    color: rgba(183, 62, 62, 1);
}

/* IND CANDIDATE HTML */

.indCand-photo {
    box-shadow: 0px 6px 14px 0px #0000002e;
}

/* COMPARISON HTML */

.progress-bar {
    background: #cc0624;
}

/* FOOTER SECTION */

.sticky-footer {
    flex-shrink: 0;
    background: #244691;
    box-shadow: inset 0px 3px 20px 0px rgba(53, 53, 53, 0.36);
    text-align: center;
    font-size: 0.65rem;
    color: #8ea3cd;
}

.footer-links:link {
    font-size: 1rem;
    color: #8ea3cd;
}

.footer-links:visited {
    font-size: 1rem;
    color: #8ea3cd;
    text-decoration: none;
}

.footer-links:hover {
    font-size: 1rem;
    color: rgba(255,255,255,.75);
    text-decoration: none;
}

.footer-links:active {
    font-size: 1rem;
    color: #8ea3cd;
    text-decoration: none;
}

.footer-nav {
    margin: 1.5rem;
}