html, body {
    height: 100%;
    /* background-color: #efefef; default grey background color*/
    background-color: #3e839a;
}

body {
    display: flex;
    flex-direction: column;
}

nav {
    background: rgb(79, 79, 79);
    font-size: 1.1rem;
    color: #efefef;
}

.container {
    flex: 1 0 auto;
}

.card {
    box-shadow: 2px 6px 20px 0px rgba(53, 53, 53, 0.31);
}

.user-photo {
    box-shadow: 0px 6px 14px 0px #0000002e;
}

.match-photo {
    height: 90px;
    width: 90px;
    box-shadow: 0px 6px 14px 0px #0000002e;
}

.match-links a:link {
    color: r#424242;
}

.match-links a:visited {
    color: #424242;
    text-decoration: none;
}

.match-links a:hover {
    color: #929292;
    text-decoration: none;
}

.match-links a:active {
    color: #929292;
    text-decoration: none;
}

.quiz-btn:hover {
    transform: translateY(1px);
}

.quiz-btn:active {
    transform: translateY(3px);
}

.sticky-footer {
    flex-shrink: 0;
    background: rgb(79, 79, 79);
    text-align: center;
    font-size: 0.65rem;
    color: #efefef;
}

#keys {
    /* padding for the keys and WHITE colored background of the container */
    background: white;
    padding-left: 9em;
    padding-right: 9em;
}

/* want to possibly highlight link text in green for matching results or just keep green % */
/* a {
   color: #59b300;
} */

/* Key colors */
.fa-thumbs-up {
    color: #59b300;
}
.fa-thumbs-down {
    color: crimson;
}

.footer-nav {
    margin: 1.5rem;
}

/* want - to change color of the submit button nice-to-have */
.submitQuiz {
    color: #59b300;
}

h3 {
    color: #cd5757;
}

.footer-links {
    font-size: 1rem;
    color: #efefef;
}